<ion-header [translucent]="true" no-border>
  <ion-toolbar>
    <ion-title>
      Admon Camarero
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="modalCreate()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item-sliding *ngFor="let item of lstCamarero">
        <ion-item>
            <ion-label>
              <h3>{{ item.Nombre }}</h3>  
              <p>{{ item.Apellido1 }} {{ item.Apellido2 }}</p>
            </ion-label>  
            <ion-label slot="end" class="ion-text-end text-small"> {{ item.IdCamarero }} </ion-label>            
            <ion-icon name="ellipsis-vertical-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item-options side="end">
            <ion-item-option color="primary" (click)="update(item)">              
              <ion-icon slot="icon-only" name="expand-outline"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger" (click)="presentAlert(item.IdCamarero)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-item-option>
        </ion-item-options>

    </ion-item-sliding>      
  </ion-list>

</ion-content>
